# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Node modules - backend and frontend
/backend/node_modules/
/frontend/node_modules/

# Build artifacts
/backend/dist/
/frontend/dist/

# Environment variables
/backend/.env
/frontend/.env

# Editor folders
.vscode/
.DS_Store